.ant-form-item {
  margin-bottom: 16px;
}

.ant-form-item .ant-form-item-label > label {
  height: var(--st-line-height-base);
  color: hsl(var(--st-color-text-secondary));
  font-size: var(--st-font-size-base);
  line-height: var(--st-line-height-base);
}

.ant-form-vertical .ant-form-item-label {
  padding-bottom: 8px;
}
