@font-face {
  font-family: "iconfont"; /* Project id 5175884 */
  src: url('iconfont.woff2?t=1778653461153') format('woff2'),
       url('iconfont.woff?t=1778653461153') format('woff'),
       url('iconfont.ttf?t=1778653461153') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-qiehuan:before {
  content: "\ebec";
}

.icon-LOGO-green:before {
  content: "\ec27";
}

.icon-hetongyufukuanguanli:before {
  content: "\ec18";
}

.icon-kanban:before {
  content: "\ec21";
}

.icon-jindukeshihuagenzong:before {
  content: "\ec22";
}

.icon-gongsi:before {
  content: "\ec23";
}

.icon-gongshiyujianzhiguankong:before {
  content: "\ec24";
}

.icon-gantetu:before {
  content: "\ec25";
}

.icon-biandongyuliushishuaitongji:before {
  content: "\ec26";
}

.icon-xiangmuxinxiguanli:before {
  content: "\ec1a";
}

.icon-xiangmuzonglan:before {
  content: "\ec1b";
}

.icon-wendangyutaizhangguanli:before {
  content: "\ec1c";
}

.icon-renyuanzonglan:before {
  content: "\ec1d";
}

.icon-zizhiyuzhunruguankong:before {
  content: "\ec1e";
}

.icon-shigongguanli:before {
  content: "\ec19";
}

.icon-renyuandanganguanli:before {
  content: "\ec1f";
}

.icon-zhongqipingguyuyanshouguanli:before {
  content: "\ec20";
}

.icon-shuiliduixiangshuju:before {
  content: "\ebc7";
}

.icon-shaixuan:before {
  content: "\ebd4";
}

.icon-shanchu:before {
  content: "\ebd1";
}

.icon-bianji:before {
  content: "\ebce";
}

.icon-sousuo:before {
  content: "\ebd9";
}

.icon-zhangjie:before {
  content: "\ebe3";
}

.icon-fanhui1:before {
  content: "\ebea";
}

.icon-xiazai1:before {
  content: "\ebf1";
}

.icon-xinzeng:before {
  content: "\ebd7";
}

.icon-jiantouxia:before {
  content: "\ebf0";
}

.icon-chakangengduo:before {
  content: "\ebfc";
}

.icon-danchuangguanli:before {
  content: "\ebfe";
}

.icon-danchuangquanping:before {
  content: "\ebfd";
}

.icon-danchuangshouqi:before {
  content: "\ebff";
}

